@{
    ViewBag.Title = "Xóa CV thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="title" style="margin-top: 50px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Xóa CV thành công</h1>
                    <h4>
                        <span><a href="/User/Created_CV">Tạo mới CV</a></span>
                    </h4>
                </div>
            </div>
        </div>
    </section>