@{
    ViewBag.Title = "CV Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="jobs" style="margin-top: 140px">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Bạn đã tạo CV.</h1>
                    <h4>Mỗi tài khoản ứng viên chỉ được tạo 1 CV.</h4>
                    <div class="jumbotron">
                        <h3>Bạn đã tạo CV?</h3>
                        <p>Bạn vui lòng xem CV đã tạo tại đây</p>
                        <p><a href="/User/CV" class="btn btn-primary">Xem CV đã tạo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>